.form {
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 50px;
	box-shadow: 5px 5px 20px #171717;
}

.form_input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #f57145;
	color: #1a5a33;
    font-size: medium;
    margin: 10px;
}


.form-btn:hover {
	background-color: #171717;
	color: #1a5a33;
	transform: translateY(-3px);
}


/* auth */

.auth-form {
	width: 300px;
	height: 200px;
}

.auth-input {
	width: 200px;
}

.auth-msg {
	margin-bottom: 15px;
}

.main {
  align-items: center;
  text-align: center;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}